<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Login">
        <setting type="lsep" label="User credentials" />
        <setting id="username" type="text" label="Username" default="" />
        <setting id="password" type="text" option="hidden" label="Password" default="" />
    </category>
    <category label="Device Specific">
        <setting type="lsep" label="Remove Sharing Restriction"/>
        <setting id="1daybypass" label="1 day pass (Maximum 10 Times)" type="action" action="RunScript(special://home/addons/plugin.video.yams/1dayByPass.py)" />
        <setting id="5daybypass" label="5 day pass (Maximum  3 Times)" type="action" action="RunScript(special://home/addons/plugin.video.yams/5dayByPass.py)"/>
        <setting id="getbypass" label="Is daypass active?" type="action" action="RunScript(special://home/addons/plugin.video.yams/checkBypassActive.py)"/>
        <setting type="lsep" label="Remove Devices From Account" />
        <setting id="deviceList" label="Remove one or more Devices" type="action" action="RunScript(special://home/addons/plugin.video.yams/deviceList.py)" />

        <setting type="lsep" label="Active devices"/>
        <setting id="boxname" label="Rename this device" type="action" action="RunScript(special://home/addons/plugin.video.yams/boxname.py)" />
        <setting id="deviceBoxList" label="List all active box devices" type="action" action="RunScript(special://home/addons/plugin.video.yams/deviceBoxList.py)"/>
        <setting id="deviceMobileList" label="List all active mobile devices" type="action" action="RunScript(special://home/addons/plugin.video.yams/deviceMobileList.py)"/>
    </category>
    <category label="General">
        <setting type="lsep" label="Listing" />
        <setting id="per_page" type="slider" label="Movies per Page (max 200)" range="1,100,200" option="int"
                 default="200" />
    </category>
</settings>